<header class="header">
  <div class="container header__container">
    <div class="logo">
      <img src="../assets/img/logo.png" alt="Logo">
    </div>
    <nav class="nav">
      <ul class="nav__list list-reset">
        <li class="nav__item">
          <a href="#" class="nav__link">Главная</a>
        </li>
        <li class="nav__item">
          <a href="#cards" class="nav__link">Автомобили</a>
        </li>
        <li class="nav__item">
          <a href="#price" class="nav__link">Бронирование авто</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<main>
  <section class="hero" [ngStyle]="bgPos">
    <div class="container">
      <h1 class="hero__title">Аренда премиальных автомобилей</h1>
      <p class="hero__descr">
        В нашем клубе имеется солидная коллекция спортивных автомобилей — от достаточно распространенных серийных машин до настоящего гоночного эксклюзива. Воспользуйтесь уникальной возможностью побывать за рулем настоящей легенды и узнать, на что она способна за пределами гоночной трассы!
      </p>
      <button class="hero__btn btn btn-reset" id="hero-action" (click)="goScroll(cards)">Посмотреть автомобили</button>
    </div>
  </section>

  <section class="cards" id="cards" #cards>
    <div class="container">
      <h2 class="sub-title">Наш автопарк</h2>
      <ul class="cards__list list-reset" >
        <li class="card__item" *ngFor="let car of carsData">
          <img src="../assets/img/car/{{car.image}}" alt="car" class="card__img">
          <h3 class="card__title">{{car.name}}</h3>
          <ul class="car-info list-reset">
            <li class="car-info__item">
              <img src="../assets/img/gear.svg" alt="gear" class="car-info__icon">
              <p class="car-info__descr">Привод <span>{{car.gear}}</span></p>
            </li>
            <li class="car-info__item">
              <img src="../assets/img/wheel.svg" alt="Wheel" class="car-info__icon">
              <p class="car-info__descr">Двигатель <span>{{car.engine}} л.с.</span></p>
            </li>
            <li class="car-info__item">
              <img src="../assets/img/belt.svg" alt="belt" class="car-info__icon">
              <p class="car-info__descr">Кол-во мест<span>{{car.places}}</span></p>
            </li>
          </ul>
          <button class="card__btn btn-reset btn" (click)="goScroll(price, car)">Зaбронировать</button>
        </li>
      </ul>
    </div>
  </section>

  <section class="price" id="price" #price>
    <div class="container price__container">
      <h2 class="sub-title price__title">Узнать цену и забронировать</h2>
      <p class="price__descr">
        Заполните данные, и мы перезвоним вам для уточнения всех деталей бронирования
      </p>
      <form class="price__form" [formGroup]="priceForm">
        <input type="text" class="price__input" id="name" placeholder="Ваше имя" formControlName="name">
        <input type="text" class="price__input" id="phone" placeholder="Ваш телефон" formControlName="phone">
        <input type="text" class="price__input" id="car" placeholder="Автомобиль, который вас интересует" formControlName="car">
        <button class="price__btn btn-reset btn" id="price-action" type="button" (click)="onSubmit()" [disabled]="!priceForm.valid" >Узнать цену</button>
      </form>
      <img src="../assets/img/rolls.jpg" alt="rolls" class="price__img" [ngStyle]="trans">
    </div>
  </section>
</main>

<footer class="footer">
  <div class="container footer__container">
    <div class="logo">
      <img src="../assets/img/logo.png" alt="Logo">
    </div>
    <div class="rights">Все права защищены</div>
  </div>
</footer>
